@font-face {
	font-family: montserrat;
	font-display: swap;
	src: url("../fonts/montserrat-v29-latin-500.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}

@font-face {
	font-family: montserrat;
	font-display: swap;
	src: url("../fonts/montserrat-v29-latin-regular.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}

@font-face {
	font-family: stix;
	font-display: swap;
	src: url("../fonts/stix-two-text-v12-latin-500.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}

@font-face {
	font-family: stix;
	font-display: swap;
	src: url("../fonts/stix-two-text-v12-latin-regular.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}

